<!--Startsidans komponent-->
<main>
    <app-scheduletable />
    <article>
        <h2>Om sidan</h2>
        <p>Den här webbplatsen är utvecklad i Angular och är ett delmoment i kursen DT208G - Programmering i TypeScript. 
            Ramschemat ovan är kurserna som ingår i min utbildning. Kursdata är hämtade som observables med Angulars HTTPClient. 
            Listan går att söka i och den sökta listan går även att sortera. Det går att sortera listan efter kurskod, namn eller progression. 
            Vid tryck på samma "knapp" igen sorteras listan i omvänd ordning. Vid klick på kursnamnen länkas användaren till 
            kursplanen.
        </p>
        <p>
            För mer information besök min <a href="https://github.com/MarkusVickman/dt208g-moment4">github</a> och läs readme-filen.
        </p>
    </article>
</main>